*{
  text-align: center;
}
​h1 {
  width:100%
  color:LightGray;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 35px;
 
} 

p {
font-size: 15px;
color:AliceBlue; 
text-align: center;
font-family: Georgia, serif;
 max-width: 325px;
margin-left: 750px;

}

body{
 background-attachment: fixed;
background-size: 100% 100%;
color:Aliceblue;
background-color:Steelblue;
}
  img {
margin-left: 50px;
margin-right: 200px;
margin-bottom: 40px;
}



  
}


