*{
  text-align: center;
}
​h1 {
  width:100%
  color:LightGray;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 35px;
 
} 

p {
font-size: 15px;
color:AliceBlue; 
text-align: center;
font-family: Georgia, serif;
 max-width: 325px;

}

body{
 background-attachment: fixed;
background-size: 100% 100%;
color:Aliceblue;
background-color:Steelblue;


  
}


